public/hot
public/storage
storage/*.key
.idea
.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env

vendor/
node_modules/
tools/ 

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
.env.*.php
.env.php
.env
